<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text' name="username" ng-model='user.username' required>
    <div style="color: red" ng-show="signinForm.password.$error.required">You can't leave this field empty!</div>

    <input type="password" name="password" ng-model='user.password' required>
    <div style="color: red" ng-show="signinForm.password.$error.required">You can't leave this field empty!</div>
    <button>signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
